* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
a:focus {
  outline: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #fc00ff, #00dbde);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
label:not(.btn) {
  display: block;
  position: relative;
  margin-bottom: 40px;
  margin-right: 140px;
  color: #2fff00;
  font-size: 16px;
}
label:hover {
  color: #00d3ff;
}
label:hover output {
  color: #02031c;
}
label:active output {
  color: #02031c;
}
input[type='range'] {
  display: block;
  appearance: none;
  height: 3px;
  background: linear-gradient(to right, #db2a5d, #ffbc0c);
  margin-top: 22px;
  outline: none;
  border-radius: 0.25rem;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #0293ff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
label:hover input[type='range']::-webkit-slider-thumb {
  background-color: #0437f2;
}
label:active input[type='range']::-webkit-slider-thumb {
  background-color: #0565ff;
  width:20px;
  border-radius: 25%;
}
input[type='range']::-webkit-slider-runnable-track {
  transition: 0.3s;
}
label:active input[type='range']::-webkit-slider-runnable-track {
  background-color: #9eb9d015;
  border-radius:50%
}
output {
  position: absolute;
  width: 60px;
  height: 40px;
  right: -80px;
  top: 24px;
  color: #130055;
  font-size: 18px;
  background: linear-gradient(to right, #e6e980, #f36cc8);
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
}
label:active output {
  background-color: #74808c;
}
.btn-container {
  margin-bottom: 20px;
  padding: 2px;
  display: flex;
  justify-content: center;
}
.btn-container > * {
  margin-right: 10px;
}
.btn-container > *:last-child {
  margin-right: 0;
}
.btn {
  flex: 1;
  min-width: 120px;
  height: 40px;
  padding: 0 10px;
  background: linear-gradient(to right, #fc354c, #fc181d);
  border: 0;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}
.btn:not(.btn-active):hover {
  background-color: #515961;
}
.btn:active {
  background: #fc938d;
}
.btn-active {
  background: #fc938d;
}
.btn-active:hover {
  background: #fc938d;
}
.btn-load {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-load--input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.filters {
  width: 100%;
  max-width: 40%;
  padding-top: 60px;
  margin-bottom: 40px;
}
.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
}
:root {
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue: 0deg;
}
img {
  height: 100%;
  width: 100%;
  max-height: 520px;
  max-width: 830px;
  object-fit: contain;
  filter: blur(var(--blur, 0px)) invert(var(--invert, 0%))
  sepia(var(--sepia, 0%)) saturate(var(--saturate, 100%))
  hue-rotate(var(--hue, 0deg));
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
  label:not(.btn) {
    display: block;
    position: relative;
    margin-bottom: 26px;
    margin-right: 40px;
    font-size: 15px;
  }

  input[type='range'] {
    height: 3px;
    margin-top: 12px;
    width: 80%;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }

  label:active input[type='range']::-webkit-slider-thumb {
    width:10px;
  }

  output {
    right: 0px;
    top: 21px;
    width: 40px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }

  .btn-container{
    width: 90%;
  }

  .btn {
    flex: none;
    min-width: 100px;
    height: 36px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
  }

  .filters {
    margin-left: 40px;
    width: 80%;
  }
  .editor {
    width: 90%;
  }

  img {
    height: 90%;
    width: 90%;
  }

}
